/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    position: relative;
}

.navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar-brand {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #007bff;
}

.jumbotron {
    background-image: url('../img/baner.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 150px 0;
    margin-bottom: 30px;
}

.container-products {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 30px;
    margin-top: 70px;
}

.product-card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}

.product-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #dee2e6;
}

.product-card h3 {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    margin: 20px 0;
}

.login-form {
    display: none;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.cart-section,
.wishlist-section {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 30px;
}

footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
